.functionButton {
  // box-shadow: 0 1.3px 12px -3px rgb(231, 3, 3);
  padding: 0.75rem 1.25rem;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  margin: 0.25rem;
  //   min-width: auto;
  cursor: pointer;

  &__fill {
    border: 2px solid transparent;

    &:hover {
      background-color: transparent;
      border-color: var(--theme);
    }
  }

  &__outline {
    background-color: transparent;
    border: 2px solid var(--theme);

    &:hover {
      background-color: var(--theme);
      border-color: transparent;
    }
  }

  &__text {
    font-weight: bold;
    white-space: nowrap;
    color: white;
  }
}
