.headerNavsOptions {
  &__value {
    transition-property: background-color, border-color, color, fill, stroke,
      opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ease-in-out;
    transition-duration: 300ms;
    white-space: nowrap;
    &:hover {
      color: gray;
    }
  }
}
