$fnt-xs: 0.75rem;
$fnt-sm: 0.875rem;
$fnt-md: 1rem;
$fnt-lg: 1.125rem;
$fnt-xl: 1.25rem;
$fnt-2xl: 1.5rem;
$fnt-3xl: 1.875rem;
$fnt-4xl: 2.25rem;
$fnt-5xl: 3rem;
$fnt-6xl: 3.75rem;
$fnt-7xl: 4.5rem;
$fnt-8xl: 6rem;
$fnt-9xl: 8rem;
