.datePickerbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.198);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  * {
    color: black;
  }

  &__available {
    display: flex;
    align-items: center;
    background-color: var(--theme);
    padding: 0.5rem 2rem;
    border-radius: 30px;
    gap: 1rem;

    &__text {
      white-space: nowrap;
      font-size: 1rem;
      color: white;
    }
  }
}
