@import "../../../../styles/responsive";

.footerTopLinks {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__list {
    display: flex;
    flex-wrap: wrap;

    @include screen-lg {
      flex-direction: column;
    }

    &__title {
      padding: 0.5rem;
      white-space: nowrap;
    }
  }
}
